body {
  margin: 0 auto;
  width: 1110px;
  margin-bottom: 80px;
}
.wrapper {
  width: 1110px;
  margin: 0, auto;
  background-color: #fff;
}
.logo {
  margin: 0;
  text-transform: uppercase;
  float: left;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
  color: #555252;
}
h1::first-letter {
  color: #1abc9c;
  font-family: "Roboto";
  font-weight: 900;
}
ul {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.menu_list {
  float: right;
  color: #0f0101;
}
.head {
  padding-top: 35px;
}
.menu_list_item {
  list-style: none;
  float: left;
  margin-right: 30px;
  padding-top: 10px;
}
.menu_list_item:last-child {
  margin-right: 0px;
}
.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 700;
}
.menu_link:hover {
  color: #1abc9c;
}
.headline {
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  text-align: center;
  margin-top: 110px;
  font-family: "Roboto";
  font-weight: 900;
}
.headline::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 6px solid #1abc9c;
  margin-top: 30px;
  margin-bottom: 90px;
}
.card:not(:nth-child(4n)) {
  margin-right: 30px;
}
.card:nth-child(-n + 4) {
  margin-bottom: 30px;
}
.card:nth-child(n + 5) {
  margin-bottom: 100px;
}
.card-foto {
display: block;
width: 100%;
background-color: rgb(233, 240, 253);
}
.card {
  float: left;
  width: 255px;
}
.test {
   background-color: rgb(50, 50, 50);
}
.card:hover .test{
   background-color: rgb(26, 188, 156);
}
.card-name {
  float: left;
  text-transform: uppercase;
  width: 200px;
  background-color: rgba(50, 50, 50, 0);
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
  font-size: 18px;
  line-height: 2.2;
  text-indent: 10px;
  font-family: "Roboto";
  font-weight: 900;
}
.card-price {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, .44);
  width: 55px;
  margin: 0;
  padding: 0;
  line-height: 2.2;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
}
/* .card:hover .card-name {
  background-color: rgb(26, 188, 156);
}
.card:hover .card-price {
  background-color: rgba(26, 188, 156);
} */
.heading-news {
  text-transform: uppercase;
  color: #555252;
  font-size: 48px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
}
.heading-news::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 6px solid #1abc9c;
  margin-top: 30px;
  margin-bottom: 90px;
}
.news:not(:nth-child(4n)) {
  margin-right: 30px;
}
.news {
  float: left;
  width: 350px;
  /* height: 495px; */
}
.foto-news {
  margin-bottom: 17px;
}
.title-news {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #555252;
}
.title-news::after {
  content: "";
  display: block;
  width: 136px;
  margin-left: 0px;
  border-bottom: 3px solid #1abc9c;
  margin-top: 13px;
  margin-bottom: 27px;
}
.text-news {
  margin: 0;
  margin-bottom: 17px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  color: #555252;
}
.news-link {
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  width: 160px;
  /* height: 50px; */
  border-radius: 3px;
  background-color: #1abc9c;
  text-transform: capitalize;
  text-align: center;
  line-height: 3.3;
  color: #fff;
}
/* .featured {
  background-color: red;
}
.latest-news {
  background-color: blue;
} */