@font-face {
   font-family: "Roboto_Slab";
   src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.woff) format("woff");
   src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
}
@font-face{
   font-family: "Roboto_Slab";
   src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.woff) format("woff");
   src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.woff2) format("woff2");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Roboto";
   src: url(../fonts/Roboto/Roboto-Italic.woff) format("woff");
   src: url(../fonts/Roboto/Roboto-Italic.woff2) format("woff2");
   font-weight: 300;
   font-style: italic;
}
@font-face {
   font-family: "Dansing_Script";
   src: url(../fonts/Dancing_Script/DancingScript-Regular.woff) format("woff");
   src: url(../fonts/Dancing_Script/DancingScript-Regular.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Dansing_Script";
   src: url(../fonts/Dancing_Script/DancingScript-Bold.woff) format("woff");
   src: url(../fonts/Dancing_Script/DancingScript-Bold.woff2) format("woff2");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff");
   src: url(../fonts/Montserrat/Montserrat-Regular.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff");
   src: url(../fonts/Montserrat/Montserrat-Bold.woff2) format("woff2");
   font-weight: 700;
   font-style: normal;
}