@import "./font.css";
@import "./vars.css";
.wrapper {
  width: 940px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 125px;
}
.logo-link {
  text-decoration: none;
}
.logo {
  text-transform: capitalize;
  color: var(--hover-color);
  margin: 0;
  font-size: 28px;
  font-family: "Dansing_Script";
  font-weight: 700;
}
.menu-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
.menu-list-item {
  padding-right: 40px;
}
.menu-list-item:last-child {
  padding-right: 0;
}
.item-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}
.item-link:hover {
  color: var(--hover-color);
}
.services {
  display: flex;
  flex-flow: column wrap;
}
.services-title {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.title {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
}
.subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: var(--second-color);
}
.services-benefits {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.benefits-items {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 275px;
}
.img-border {
  display: flex;
  align-self: center;
  width: 66px;
  height: 66px;
  border-radius: 36px;
  border: 2px solid var(--hover-color);
}
.benefits-img {
  align-self: center;
  margin: 0 auto;
}
