@import "./font.css";
@import "./vars.css";
.wrapper {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  flex-flow: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 125px;
  width: 940px;
}
.logo-link {
  text-decoration: none;
}
.logo {
  text-transform: capitalize;
  color: var(--hover-color);
  margin: 0;
  font-size: 28px;
  font-family: "Dansing_Script";
  font-weight: 700;
}
.menu-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
.menu-list-item {
  padding-right: 40px;
}
.menu-list-item:last-child {
  padding-right: 0;
}
.item-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}
.item-link:hover {
  color: var(--hover-color);
}
.services {
  display: flex;
  flex-flow: column;
  width: 940px;
  margin: 0 auto;
}
.services-name {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.services-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.services-subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: var(--second-color);
  margin: 20px 0 0;
}
.services-benefits {
  margin: 75px 0 120px;
  display: flex;
  justify-content: space-between;
}
.benefits-items {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 275px;
}
.img-border {
  display: flex;
  align-self: center;
  width: 66px;
  height: 66px;
  border-radius: 36px;
  border: 2px solid var(--hover-color);
}
.benefits-img {
  align-self: center;
  margin: 0 auto;
}
.benefits-title {
  margin: 20px 0;
  text-transform: capitalize;
  color: var(--main-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
}
.benefits-description {
  margin: 0;
  line-height: 1.5;
  color: var(--second-color);
  font-size: 14px;
  font-family: "Roboto_Slab";
  font-weight: 400;
}
.inner {
  background: var(--main-color) url(../img/map.png) no-repeat right 120px;
  width: 1400px;
}
.contact {
  width: 940px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}
.contact-name {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding-top: 110px;
  align-items: center;
}
.contact-title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  color: var(--third-color);
  margin: 0;
}
.contact-subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: var(--second-color);
  margin: 25px 0 75px;
}
.contact-form {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 115px;
}
.left-column {
  display: flex;
  flex-flow: column;
}
.form-contact-name {
  width: 455px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0 30px 30px 0;
}
.form-contact-name::placeholder {
  color: var(--form-color);
  text-transform: uppercase;
}
.form-contact-email {
  width: 455px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0 30px 30px 0;
}
.form-contact-email::placeholder {
  color: var(--form-color);
  text-transform: uppercase;
}
.form-contact-subject {
  width: 455px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0 30px 30px 0;
}
.form-contact-subject::placeholder {
  color: var(--form-color);
  text-transform: uppercase;
}
.form-contact-message {
  width: 455px;
  height: 210px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0 0 30px;
}
.form-contact-message::placeholder {
  color: var(--form-color);
  text-transform: uppercase;
}
.form-contact-submit {
  justify-content: center;
  margin: 0 auto;
  height: 65px;
  width: 240px;
  text-transform: uppercase;
  color: var(--third-color);
  background-color: rgb(254, 209, 54);
  border-radius: 3px;
  border: 0;
  outline: 0;
  padding: 0;
}
