@import "./font.css";
@import "./vars.css";
body {
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 1200px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 110px;
}
.logo {
  text-transform: capitalize;
  word-spacing: -8px;
  color: var(--header-color);
  margin: 0;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
}
.logo-link {
  text-decoration: none;
}
.menu-item:last-child {
  padding-right: 0;
}
.menu-item {
  padding-right: 40px;
}
.menu-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
.item-link {
  text-decoration: none;
  color: var(--header-color);
  font-family: "Montserrat";
  font-weight: 400;
}
.item-link:hover::after {
  border-bottom: 3px solid var(--hover-color);
}
.item-link::after {
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  margin-top: 10px;
  cursor: default;
  transition-duration: 200ms;
}
.item-link:hover {
  color: var(--hover-color);
  transition-duration: 200ms;
}
.caption {
  margin: 0;
}
.service-sub-title {
  display: block;
  text-align: center;
  font-family: "KaushanScript";
  font-weight: 400;
  font-size: 24px;
  color: #323232;
  margin: 0 0 20px;
}
.service-sub-title::first-letter {
  text-transform: uppercase;
}
.service-title {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.caption::after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  border-bottom: 3px solid var(--hover-color);
  margin-top: 40px;
}
.description-service {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  margin-top: 65px;
}
.service-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 320px;
}
.text-block {
  width: 260px;
}
.service-caption {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 400;
  color: #333333;
  font-size: 14px;
}
.service-text {
  margin: 0;
  font-family: var(--text-style);
  font-weight: 400;
  color: var(--text-color);
  font-size: 15px;
  line-height: 22px;
}
.service-item:nth-child(n + 4) {
  margin-bottom: 90px;
}
.service-item:nth-child(-n + 3) {
  margin-bottom: 100px;
}
.team {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.subscription-text {
  display: flex;
  width: 940px;
  text-align: center;
  align-self: center;
  margin: 40px 0 0;
  font-family: var(--text-style);
  font-weight: 400;
  color: var(--text-color);
  font-size: 15px;
  line-height: 22px;
}
.our-team {
  display: flex;
  flex-flow: row wrap;
  margin-top: 90px;
}
.card-team {
  width: 380px;
}
.card-team:nth-child(-n + 2) {
  margin-right: 30px;
}
.share {
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 55px;
  height: 55px;
  background-color: rgb(252, 227, 138);
  margin-right: 2px;
}
.share:hover {
  background-color: rgb(149, 225, 211);
  transition-duration: 200ms;
}
.team-name {
  text-align: center;
}
.team-stack {
  text-align: center;
}
.over-team {
  display: flex;
  margin: 0 auto;
  align-self: center;
  z-index: 3;
  width: inherit;
}
.foto-hover:hover .foto-team {
  transform: translate(-10px, -10px);
  transition-duration: 200ms;
}
.foto-hover:hover .share {
  display: flex;
  transition-duration: 200ms;
  z-index: 2;
}
.backgraund-img {
  display: flex;
  background-color: rgb(149, 225, 211);
}
.foto-hover {
  position: relative;
}
.foto-hover:hover .gradient {
  opacity: 1;
  transition-duration: 200ms;
  transform: translate(-10px, -10px);
}
.gradient {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0;
  z-index: 1;
}
.team-name {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #333333;
}
.team-stack {
  color: var(--text-color);
  font-family: var(--text-style);
  font-weight: 300;
  font-style: italic;
}
.line {
  margin-top: 85px;
  color: var(--text-color);
  size: 1px;
  width: 100%;
}
.content::after {
  content: "";
  margin-top: 85px;
  display: block;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-link {
  text-decoration: none;
  color: #f38181;
  margin-left: 2px;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-left: 5px;
}
/* .footer-link-text {
  margin-left: 5px;
} */
.text-footer {
  margin: 25px 0;
}
.copyright {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #333333;
}
.f-form {
  display: flex;
  margin: 10px 0;
}
input[type="email"] {
  height: 37px;
  width: 225px;
  padding: 0;
  margin: 0;
  border: 1px solid #cccccc;
  outline: 0;
}
::placeholder {
  font-family: var(--text-style);
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  margin-right: 10px;
}
#send-name {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
input[type="submit"] {
  height: 39px;
  width: 150px;
  background-color: rgb(149, 225, 211);
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
}
